<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Write your email" [(ngModel)]="signUpDto.username" name="username">
      </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Write your email" [(ngModel)]="signUpDto.email" name="email">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Write your password" type="password" [(ngModel)]="signUpDto.password" name="password">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>password2</mat-label>
        <input matInput placeholder="Write your password" type="password" [(ngModel)]="password2" name="password2">
      </mat-form-field>
      
      <button mat-raised-button color="primary" (click)="doSignUp(password2)">Register</button>
  </form>
