  
¿Cuántos pokémon quieres obtener?
<button mat-stroked-button (click)="getPokemons(50)">50</button>
<button mat-stroked-button (click)="getPokemons(100)">100</button>
<button mat-stroked-button (click)="getPokemons(200)">200</button>

<hr />


<p>Desplegable que refresca la lista sin botón (hacemos uso del evento change)</p>
<mat-form-field appearance="fill">
    <mat-label>Elementos por página</mat-label>
    <mat-select [(ngModel)]="pokemonNombre" (change)="getPokemonName()">
        <mat-option *ngFor="let pokemon of pokemonList;" [value]="pokemon.name">{{pokemon.name}}</mat-option>
        
    </mat-select>
</mat-form-field>

<ul>
    <li>{{pokemonNombre}}</li>
</ul>